.card {
  width: 100%;
  height: 100%;
  min-height: 200px;
 
  padding: 1rem 2.5rem;
  margin-top: 1rem;
  display: flex;
  background-color: #e7ecfc;

}


.card-sidebar {
  
  min-width: 300px;
  max-width: 400px;
  margin: .5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  @media only screen and (max-width: 800px) {
    .card-sidebar, .sidebar_image {
      display: none;
    }
    
  }

  .sidebar_image {
    width: 100%;
    max-width: 300px;
  }
.card_content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card_source {
  text-transform: lowercase;
  padding: .5rem 0 1rem;
  align-self: flex-end;
  font-size: 0.8rem;

}

.card_image {
  width: 100%;
  padding-bottom: .7rem;
}

@media only screen and (min-width: 800px) {
  .card_image {
    display: none;
  }

  .card{padding: 1rem 2.5rem 1rem 0rem;}
}

@media only screen and (max-width: 500px) {
  .card{
    padding: 1rem 1rem;
  }
  
}

.card_headline {
  padding: .5rem 0;
  font-weight: bold;
  font-size: calc(.8vw + 1.1rem);
}

.card_standfirst {
  padding: .4rem 0 1rem;
 
}

.card_btn {
  border: .5px solid white;
  align-self: flex-end;
  width: 6.4rem;
  height: 2rem;
  padding: .4rem;
  font-size: .9rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0f7c63;
  color: white;
  font-weight: 500;
  text-decoration: none;
  margin: .5rem 0 0 0 ;
}

.purple {
  background-color: #390f7c;
}