.weather-box {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location, .temp {
  color: white;
  font-size: 0.9rem;
}

.location {
  font-weight: bold;
}

.icon {
  width: 50%;
  height: 3.7rem;
}


@media only screen and (max-width: 450px) {
  .location {
    
   display: none;
  
  }
  
}