.navbar-wrapper {

  
  width: 100%;
  padding: .75rem;
  display: fixed;
  background-color: #A1C6DD;
  height: 3.5rem;
  font-weight: medium;
}

.navbar {

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-logo {

  font-family: 'Playfair Display', serif;
  font-size: 1.4rem;
  font-weight: 600;
  
}

.navbar-items {
 
}
/* 
{
  #68a1c4 - dark blue
a1ddb8 - green
#ddc5a1 - brown
} */