.navbar-wrapper {

  
  width: 100%;
  padding: .75rem;
  display: fixed;
  background-color: #9E0000;
  height: 11rem;
  font-weight: medium;
  

}

.navbar-top {

  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.navbar-weather {
align-self: flex-end;
width: 200px;
height: 90px;
border: 1px solid black;
}

.navbar {
  color: white;
  border-top: 1px solid white;
  margin: .5rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  

}

.navbar-logo {
  color: white;
  
  font-family: 'Playfair Display', serif;
  font-size: 3.55rem;
  font-weight: 500;
 
  
}

.navbar-item {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  
  
  padding: .3rem 1rem;
}
/* 
{
  #68a1c4 - dark blue
a1ddb8 - green
#ddc5a1 - brown
} */