.navbar-wrapper {

  
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0f297cef;
  height: 9rem;
  font-weight: medium;
  padding: 1.4rem 0 0 0;
}

.navbar-top {
  margin-top: 1rem;
  margin-bottom: 1.4rem;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  height: 5rem;
  
}

.navbar-weather {
align-self: flex-end;
width: 120px;
height: 5rem;
padding-right: 3.5rem;
}

.navbar {
  color: white;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: .5rem 0;
}

.navbar-logo {
  color: white;
  text-transform: uppercase;
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 6%;
  cursor: pointer;
}

.mod {
  font-style: italic;
  font-weight: 300;
}

.navbar-item {
  font-family: 'Jost', sans-serif;

  color: white;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
  font-size: calc(.6rem + .9vw);
  
 
 

}
